body {
  background-color: #6699ff;
  color: #d5e3ff;
  font-family: "sans-serif", Arial;
  width: 80%;
  margin-right: auto;
  margin-left: auto;
}

h1 {
  color: #003366;
  line-height: 200%;
}

nav {
  font-weight: bold;
}

.home dt {
  font-weight: bold;
  color: #003366;
  font-size: 1.1em;
}

li {
  color: #003366;
}

footer {
  font-size: 0.7em;
  font-style: italic;
}
